@import url(/styles/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: grid;
  place-content: center;
  min-width: 375px;
  min-height: 100vh;
}

:root {
  /* colors */
  --color-primary: hsl(236, 100%, 87%);
  --color-secondary: hsl(235, 45%, 61%);
  --color-report-bg: hsl(235, 46%, 20%);
  --color-body-bg: hsl(226, 43%, 10%);

  /* cover */
  --cover-profile: hsl(246, 80%, 60%);
  --cover-work: hsl(15, 100%, 70%);
  --cover-play: hsl(195, 74%, 62%);
  --cover-study: hsl(348, 100%, 68%);
  --cover-exercise: hsl(145, 58%, 55%);
  --cover-social: hsl(264, 64%, 52%);
  --cover-selfcare: hsl(43, 84%, 65%);
}

/* Typography */
body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  color: var(--color-primary);
  background-color: var(--color-body-bg);
}

.title {
  font-size: 1.8rem;
}

.profile-section b {
  color: whitesmoke;
  font-weight: 300;
  font-size: 2.7rem;
}

.time > .time-frame {
  color: rgba(255, 255, 255, 0.829);
  font-size: 3rem;
  font-weight: 300;
}

.time {
  font-weight: 300;
}

@media screen and (min-width: 1000px) {
  .user-name {
    max-width: 17.5rem;
  }

  .profile-section b {
    font-size: 3.6rem;
  }

  .time > .time-frame {
    font-size: 5rem;
  }
}

/* main*/
main {
  display: grid;
  gap: 2rem;
  margin: 10rem 1rem;
}

/* Profile block */
.profile-block {
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--color-report-bg);
}

.profile-section {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
  align-items: center;
  background-color: var(--cover-profile);
  padding: 2.5rem;
  border-radius: 15px;
}

.profile-section img {
  width: 75px;
  border: 3px solid white;
  border-radius: 100%;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

button {
  color: var(--color-secondary);
  background-color: transparent;
  border: none;
  outline: none;
}

button:hover,
.selected {
  color: whitesmoke;
}

/* Time-tracking section*/
.time-tracking {
  display: grid;
  gap: 2rem;
}

.report-block {
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--cover-work);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover {
  background: url(/images/icon-work.svg) no-repeat 94% -10px;
  background-size: 60px;
  min-height: 3.2rem;
  height: 100%;
}

.time-report {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 15px;
  background-color: var(--color-report-bg);
  cursor: pointer;
  gap: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  height: fit-content;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

@media screen and (min-width: 1000px) {
  main {
    display: flex;
  }

  .profile-section {
    gap: 3.5rem;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 35%;
  }

  .buttons {
    display: grid;
    gap: 1.5rem;
    padding: 2.5rem;
    justify-content: left;
    justify-items: left;
    font-size: 2rem;
  }

  .time-tracking {
    grid-template-columns: repeat(3, 1fr);
  }

  .report-block {
    width: 220px;
  }

  .cover {
    background-position: 90% 2px;
    background-size: 80px;
  }

  .time-report {
    padding: 2rem;
    gap: 2rem;
  }

  .time {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 0.5rem;
  }
}
