@import url(/styles/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: grid;
  place-content: center;
  min-width: 375px;
  min-height: 100vh;
}

:root {
  /* colors */
  --color-primary: hsl(236, 100%, 87%);
  --color-secondary: hsl(235, 45%, 61%);
  --color-report-bg: hsl(235, 46%, 20%);
  --color-body-bg: hsl(226, 43%, 10%);

  /* cover */
  --cover-profile: hsl(246, 80%, 60%);
  --cover-work: hsl(15, 100%, 70%);
  --cover-play: hsl(195, 74%, 62%);
  --cover-study: hsl(348, 100%, 68%);
  --cover-exercise: hsl(145, 58%, 55%);
  --cover-social: hsl(264, 64%, 52%);
  --cover-selfcare: hsl(43, 84%, 65%);
}

/* Typography */
body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  color: var(--color-primary);
  background-color: var(--color-body-bg);
}

.title {
  font-size: 1.8rem;
}

.now .time-frame {
  font-size: 3rem;
  font-weight: 300;
}

.previous {
  font-weight: 300;
}

/* main*/
main {
  display: grid;
  gap: 2rem;
  margin: 10rem 1rem;
}

/* Profile block */
.profile-block {
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--color-report-bg);
}

.profile-section {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
  align-items: center;
  background-color: var(--cover-profile);
  padding: 2.5rem;
  border-radius: 15px;
}

.profile-section img {
  width: 75px;
  border: 3px solid white;
  border-radius: 100%;
}

.profile-section b {
  font-weight: 300;
  font-size: 2.7rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

button {
  color: var(--color-secondary);
  background-color: transparent;
  border: none;
  outline: none;
}

button:hover {
  color: whitesmoke;
}

/* Time-tracking section*/
.time-tracking {
  display: grid;
  gap: 2rem;
}

.report-block {
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--cover-work);
}

.cover {
  background: url(/images/icon-work.svg) no-repeat 94% -10px;
  background-size: 60px;
  height: 3.2rem;
}

.time-report {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
  border-radius: 15px;
  background-color: var(--color-report-bg);
  cursor: pointer;
}

.now {
  display: grid;
  gap: 0.5rem;
  color: whitesmoke;
}

.previous {
  display: grid;
  justify-items: end;
  align-items: center;
  font-size: 1.4rem;
}
